<a href="https://colab.research.google.com/github/fjme95/python-para-la-ciencia-de-datos/blob/main/1_Introducci%C3%B3n_a_las_variables.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

En este **Notebook** se dará una introducción unas cuantas operaciones que **python** puede hacer en números, cadenas y listas. 

A grandes rasgos, un [(Jupyter) Notebook](https://jupyter.org/) es un archivo que permite ejecutar código en python dentro de una aplicación web. **Google Colab** nos brinda un entorno de Jupyter "Out of the Box".

Un Notebook esta compuesto por **celdas** que nos permiten escribir texto o código en python. En el caso de último, la celda (**In**) puede estar compuesta por otra (**Out**) que contiene las *impresiones* del código.

# Hola Mundo

In [14]:
print('¡Hola Mundo!')

¡Hola Mundo!

# print()

En Python, para mostrar valores de operaciones o variables usamos la función ```print()``` como en el ejemplo del *Hola Mundo*. 

Al usar Colab (que nos da una instancia de Jupyter), podemos *imprimir* las cosas simplemente escribiéndolas al final de cada celda.

In [15]:
print('Hola mundo por segunda vez.')

Hola mundo por segunda vez.

In [16]:
'Hola mundo por segunda vez.'

'Hola mundo por segunda vez.'

Si queremos imprimir más de una cosa, es necesario que usemos ```print()```.

In [17]:
'Esta es una linea que no va a imprimir'

print('Esta sí la va a imprimir.')

"Esta también porque esta al final de la celda."

Esta sí la va a imprimir.

'Esta también porque esta al final de la celda.'

# Operaciones aritméticas, trigonométricas, logarítmos y exponencial.

Python puede servir como una calculadora. De hecho, esta es una de las bases para hacer cosas más interesantes.

## Operaciones aritméticas

In [18]:
# Suma y resta
1 + 2 - 10

-7

In [19]:
# Mutiplicación
3 * 4 * 1.5

18.0

In [20]:
# División

50 / 3

16.666666666666668

In [21]:
# Parte entera de la división
50 // 3

16

In [22]:
# Residuo de la división (módulo)

50 % 3

2

In [23]:
# Potencias
3 ** 2

9

In [24]:
# Raíz cuadrada
9 ** (1/2)

3.0

In [25]:
import math
help(math)

Help on built-in module math:

NAME
    math

DESCRIPTION
    This module provides access to the mathematical functions
    defined by the C standard.

FUNCTIONS
    acos(x, /)
        Return the arc cosine (measured in radians) of x.

    acosh(x, /)
        Return the inverse hyperbolic cosine of x.

    asin(x, /)
        Return the arc sine (measured in radians) of x.

    asinh(x, /)
        Return the inverse hyperbolic sine of x.

    atan(x, /)
        Return the arc tangent (measured in radians) of x.

    atan2(y, x, /)
        Return the arc tangent (measured in radians) of y/x.

        Unlike atan(y/x), the signs of both x and y are considered.

    atanh(x, /)
        Return the inverse hyperbolic tangent of x.

    ceil(x, /)
        Return the ceiling of x as an Integral.

        This is the smallest integer >= x.

    copysign(x, y, /)
        Return a float with the magnitude (absolute value) of x but the sign of y.

        On platforms that support signed zeros, copysign(1.0, -0.0)
        returns -1.0.

    cos(x, /)
        Return the cosine of x (measured in radians).

    cosh(x, /)
        Return the hyperbolic cosine of x.

    degrees(x, /)
        Convert angle x from radians to degrees.

    erf(x, /)
        Error function at x.

    erfc(x, /)
        Complementary error function at x.

    exp(x, /)
        Return e raised to the power of x.

    expm1(x, /)
        Return exp(x)-1.

        This function avoids the loss of precision involved in the direct evaluation of exp(x)-1 for small x.

    fabs(x, /)
        Return the absolute value of the float x.

    factorial(x, /)
        Find x!.

        Raise a ValueError if x is negative or non-integral.

    floor(x, /)
        Return the floor of x as an Integral.

        This is the largest integer <= x.

    fmod(x, y, /)
        Return fmod(x, y), according to platform C.

        x % y may differ.

    frexp(x, /)
        Return the mantissa and exponent of x, as pair (m, e).

        m is a float and e is an int, such that x = m * 2.**e.
        If x is 0, m and e are both 0.  Else 0.5 <= abs(m) < 1.0.

    fsum(seq, /)
        Return an accurate floating point sum of values in the iterable seq.

        Assumes IEEE-754 floating point arithmetic.

    gamma(x, /)
        Gamma function at x.

    gcd(x, y, /)
        greatest common divisor of x and y

    hypot(x, y, /)
        Return the Euclidean distance, sqrt(x*x + y*y).

    isclose(a, b, *, rel_tol=1e-09, abs_tol=0.0)
        Determine whether two floating point numbers are close in value.

          rel_tol
            maximum difference for being considered "close", relative to the
            magnitude of the input values
          abs_tol
            maximum difference for being considered "close", regardless of the
            magnitude of the input values

        Return True if a is close in value to b, and False otherwise.

        For the values to be considered close, the difference between them
        must be smaller than at least one of the tolerances.

        -inf, inf and NaN behave similarly to the IEEE 754 Standard.  That
        is, NaN is not close to anything, even itself.  inf and -inf are
        only close to themselves.

    isfinite(x, /)
        Return True if x is neither an infinity nor a NaN, and False otherwise.

    isinf(x, /)
        Return True if x is a positive or negative infinity, and False otherwise.

    isnan(x, /)
        Return True if x is a NaN (not a number), and False otherwise.

    ldexp(x, i, /)
        Return x * (2**i).

        This is essentially the inverse of frexp().

    lgamma(x, /)
        Natural logarithm of absolute value of Gamma function at x.

    log(...)
        log(x, [base=math.e])
        Return the logarithm of x to the given base.

        If the base not specified, returns the natural logarithm (base e) of x.

    log10(x, /)
        Return the base 10 logarithm of x.

    log1p(x, /)
        Return the natural logarithm of 1+x (base e).

        The result is computed in a way which is accurate for x near zero.

    log2(x, /)
        Return the base 2 logarithm of x.

    modf(x, /)
        Return the fractional and integer parts of x.

        Both results carry the sign of x and are floats.

    pow(x, y, /)
        Return x**y (x to the power of y).

    radians(x, /)
        Convert angle x from degrees to radians.

    remainder(x, y, /)
        Difference between x and the closest integer multiple of y.

        Return x - n*y where n*y is the closest integer multiple of y.
        In the case where x is exactly halfway between two multiples of
        y, the nearest even value of n is used. The result is always exact.

    sin(x, /)
        Return the sine of x (measured in radians).

    sinh(x, /)
        Return the hyperbolic sine of x.

    sqrt(x, /)
        Return the square root of x.

    tan(x, /)
        Return the tangent of x (measured in radians).

    tanh(x, /)
        Return the hyperbolic tangent of x.

    trunc(x, /)
        Truncates the Real x to the nearest Integral toward 0.

        Uses the __trunc__ magic method.

DATA
    e = 2.718281828459045
    inf = inf
    nan = nan
    pi = 3.141592653589793
    tau = 6.283185307179586

FILE
    (built-in)

In [26]:
math.sqrt(3)

1.7320508075688772

## Operaciones trigonométricas, logaritmos, exponencial y otras

Para poder hacer operaciones trigonométricas, logaritmos y exponenciales, es necesario que usemos el módulo ```math``` de python. De momento sólo lo usaremos y en el futuro explicaremos qué significa la celda a continuación.

In [27]:
import math
help(math)

Help on built-in module math:

NAME
    math

DESCRIPTION
    This module provides access to the mathematical functions
    defined by the C standard.

FUNCTIONS
    acos(x, /)
        Return the arc cosine (measured in radians) of x.

    acosh(x, /)
        Return the inverse hyperbolic cosine of x.

    asin(x, /)
        Return the arc sine (measured in radians) of x.

    asinh(x, /)
        Return the inverse hyperbolic sine of x.

    atan(x, /)
        Return the arc tangent (measured in radians) of x.

    atan2(y, x, /)
        Return the arc tangent (measured in radians) of y/x.

        Unlike atan(y/x), the signs of both x and y are considered.

    atanh(x, /)
        Return the inverse hyperbolic tangent of x.

    ceil(x, /)
        Return the ceiling of x as an Integral.

        This is the smallest integer >= x.

    copysign(x, y, /)
        Return a float with the magnitude (absolute value) of x but the sign of y.

        On platforms that support signed zeros, copysign(1.0, -0.0)
        returns -1.0.

    cos(x, /)
        Return the cosine of x (measured in radians).

    cosh(x, /)
        Return the hyperbolic cosine of x.

    degrees(x, /)
        Convert angle x from radians to degrees.

    erf(x, /)
        Error function at x.

    erfc(x, /)
        Complementary error function at x.

    exp(x, /)
        Return e raised to the power of x.

    expm1(x, /)
        Return exp(x)-1.

        This function avoids the loss of precision involved in the direct evaluation of exp(x)-1 for small x.

    fabs(x, /)
        Return the absolute value of the float x.

    factorial(x, /)
        Find x!.

        Raise a ValueError if x is negative or non-integral.

    floor(x, /)
        Return the floor of x as an Integral.

        This is the largest integer <= x.

    fmod(x, y, /)
        Return fmod(x, y), according to platform C.

        x % y may differ.

    frexp(x, /)
        Return the mantissa and exponent of x, as pair (m, e).

        m is a float and e is an int, such that x = m * 2.**e.
        If x is 0, m and e are both 0.  Else 0.5 <= abs(m) < 1.0.

    fsum(seq, /)
        Return an accurate floating point sum of values in the iterable seq.

        Assumes IEEE-754 floating point arithmetic.

    gamma(x, /)
        Gamma function at x.

    gcd(x, y, /)
        greatest common divisor of x and y

    hypot(x, y, /)
        Return the Euclidean distance, sqrt(x*x + y*y).

    isclose(a, b, *, rel_tol=1e-09, abs_tol=0.0)
        Determine whether two floating point numbers are close in value.

          rel_tol
            maximum difference for being considered "close", relative to the
            magnitude of the input values
          abs_tol
            maximum difference for being considered "close", regardless of the
            magnitude of the input values

        Return True if a is close in value to b, and False otherwise.

        For the values to be considered close, the difference between them
        must be smaller than at least one of the tolerances.

        -inf, inf and NaN behave similarly to the IEEE 754 Standard.  That
        is, NaN is not close to anything, even itself.  inf and -inf are
        only close to themselves.

    isfinite(x, /)
        Return True if x is neither an infinity nor a NaN, and False otherwise.

    isinf(x, /)
        Return True if x is a positive or negative infinity, and False otherwise.

    isnan(x, /)
        Return True if x is a NaN (not a number), and False otherwise.

    ldexp(x, i, /)
        Return x * (2**i).

        This is essentially the inverse of frexp().

    lgamma(x, /)
        Natural logarithm of absolute value of Gamma function at x.

    log(...)
        log(x, [base=math.e])
        Return the logarithm of x to the given base.

        If the base not specified, returns the natural logarithm (base e) of x.

    log10(x, /)
        Return the base 10 logarithm of x.

    log1p(x, /)
        Return the natural logarithm of 1+x (base e).

        The result is computed in a way which is accurate for x near zero.

    log2(x, /)
        Return the base 2 logarithm of x.

    modf(x, /)
        Return the fractional and integer parts of x.

        Both results carry the sign of x and are floats.

    pow(x, y, /)
        Return x**y (x to the power of y).

    radians(x, /)
        Convert angle x from degrees to radians.

    remainder(x, y, /)
        Difference between x and the closest integer multiple of y.

        Return x - n*y where n*y is the closest integer multiple of y.
        In the case where x is exactly halfway between two multiples of
        y, the nearest even value of n is used. The result is always exact.

    sin(x, /)
        Return the sine of x (measured in radians).

    sinh(x, /)
        Return the hyperbolic sine of x.

    sqrt(x, /)
        Return the square root of x.

    tan(x, /)
        Return the tangent of x (measured in radians).

    tanh(x, /)
        Return the hyperbolic tangent of x.

    trunc(x, /)
        Truncates the Real x to the nearest Integral toward 0.

        Uses the __trunc__ magic method.

DATA
    e = 2.718281828459045
    inf = inf
    nan = nan
    pi = 3.141592653589793
    tau = 6.283185307179586

FILE
    (built-in)

In [28]:
# Valor absoluto
abs(-5)

5

In [29]:
# Techo de un flotante
math.ceil(3.4)

4

In [30]:
# Piso de un flotante
print(math.floor(3.4))
int(3.4)

3

3

In [31]:
# Redondear a varios decimales
round(3.426565, 2)

3.43

In [32]:
math.sin(3.3)

-0.1577456941432482

In [33]:
math.tan(3.4)

0.26431690086742515

In [34]:
# Logaritmo natural
math.log(5)

1.6094379124341003

In [35]:
# Logaritmo base 10
math.log10(5)

0.6989700043360189

In [36]:
# Exponencial
print(math.exp(2))
math.e ** 2

7.38905609893065

7.3890560989306495

# Introducción a las variables

Las variables se pueden ver como celdas en una hoja de cálculo. Pueden tener un valor fijo asignado o uno que este en función de otras variables. Las primeras son lo mismo que poner el valor a mano en la celda; las segundas es como las celdas que tienen fórmulas dependientes de otras celdas.

Para asignar un valor a una variable se ocupa el operador ```=```, poniendo la variable del lado izquierdo. Por ejemplo,

In [37]:
texto = 'Hola mundo'

In [38]:
print(texto)

Hola mundo

**Los nombres de las variables son sensibles a mayúsuculas, deben comenzar con una letra de la A a la Z o guión bajo (```_```) y no pueden ser llamadas igual a las palabras reservadas**.

In [39]:
# Palabras reservadas
import keyword

print(', '.join(keyword.kwlist))

False, None, True, and, as, assert, async, await, break, class, continue, def, del, elif, else, except, finally, for, from, global, if, import, in, is, lambda, nonlocal, not, or, pass, raise, return, try, while, with, yield

In [40]:
# Ejemplos de sensibilidad a las mayúsculas
Texto = 'Esta variable inicia con una mayúscula'
texto = 'Esta variable no'
TexTO = 'Esta variable tiene mayúsculas al final'

print(texto)

Esta variable no

In [41]:
# Ejemplos de nombres de variables válidos

var = 3
_var = 3
var3 = 3
var_3 = 3
Var_3 = 3
VAR3 = 3

In [42]:
# Ejemplos de nombres inválidos

# No inician con letras o guion bajo
3var = 3 
.var = 3

SyntaxError: ignored

In [ ]:
# No puede contener otra puntuación que no sea guin bajo
var.3 = 3
var'3 = 3

In [ ]:
# No pueden usarse palabras reservadas
async = 3

El valor de la variable es igual al último que se le haya asignado

In [ ]:
texto = 'Texto inicial'
texto = 'Ya no es el texto inicial'

print(texto)

Finalmente, una variable puede convertirse en cualquier tipo sólo asignando el valor

In [ ]:
texto = 'Primero soy texto'
texto = 3  
print(texto)

## Números

En python los números fundamentalmente sólo pueden ser de dos tipos: 

- ```int```: Enteros 
-```float```: Flotantes (con punto decimal)

Agregando módulos se pueden manejar números complejos o decimales con mayor precisión que los de punto flotante.

In [ ]:
# Ejemplos de enteros
m = 30
print(type(m), m)

In [ ]:
n = 2.3
print(type(n), n)

### Operaciones con números

Ahora podemos aplicar todas las operaciones que vimos al inicio.

In [ ]:
m + n

In [ ]:
print(n - m)
round(m**n, 2)

## Texto

Para definir una variable con texto podemos ocupar la comilla simple ```'``` o la comilla doble ```"```.

In [ ]:
texto = 'Texto con comilla simple'
texto2 = "texto con comilla doble"

print(type(texto), texto)
print(type(texto2), texto2)

No se pueden usar ambas al mismo tiempo para definir la variable

In [ ]:
texto = 'Voy a arrojar una excepción"

Para ocupar las dos comillas dentro de una cadena se puede usar la comilla simple para definir la variable o "escapar" el caracter con ```\```. Lo mismo para la comilla simple.

In [ ]:
texto = 'Tengo "commilas dobles"'
texto2 = "Yo también tengo \"comillas dobles\""

print(texto)
print(texto2)

In [ ]:
texto = "Arrojaré error al usar "comillas dobles""

### Operaciones con texto

En python podemos concatenar, dividir las cadenas y obtener su longitud.

In [ ]:
print(texto)
len(texto) # Obtiene el número de caracteres en la cadena. Cuenta saltos de linea, espacios, signos de puntuacion, letras y caracteres especiales

In [ ]:
print(len('\n '))

Para concatenar texto podemos usar el operador ```+```.

In [ ]:
texto1 = 'Hola mundo'
texto2 = ' de la concatenación.'
texto3 = ' Una cadena más'
texto1 + texto2 + texto3

Podemos "multiplicar" una cadena n veces

In [ ]:
"hola " * 5

Se puede dividir una cadena siguiendo un patrón

In [ ]:
texto = 'Voy a separar esta cadena en palabras'

texto.split()

In [ ]:
texto = 'Esta, cadena, la, separaré, por, comas'
texto.split(', ')

Para reemplazar texto podemos ocupar ```replace()```

In [ ]:
print(texto)
texto.replace(',', '')

In [ ]:
cadena = 'Voy a cambiar todas las letras a por z'
print(cadena)
cadena.replace('a', 'z')

Se pueden transformar todos los caracteres a minúsculas, mayúsculas o "title"

In [ ]:
texto.lower()

In [ ]:
texto.upper()

In [ ]:
texto.title()

## Listas

Una lista es un conjunto de valores que definimos con paréntesis cuadrados, "```[]```" y separamos cada elemento con coma, "```,```". Por ejemplo, podemos crear una lista para guardar los tiempos de traslado en minutos de un punto a otro

In [ ]:
tiempos_traslado = [3, 34, 23, 12, 3, 4]
tiempos_traslado

También podemos almacenar varios tipos de variables en una lista.

In [ ]:
lista_mixta = ["Juan", 23, 54, 23, False, "Avión"]
lista_mixta

Podemos crear una lista usando la función ```range()```

In [ ]:
sucesion = list(range(10))
sucesion

Podemos obtener la longitud de una lista (el número de elementos que tiene) con la función ```len```.

In [ ]:
len(lista_mixta)

Para acceder a elementos de la lista usamos nuevamente los paréntesis cuadrados y dentro un entero con la posición del elemento que deseamos. Es importante mencionar que el Python, los índices (o posiciones) empiezan desde cero.

In [ ]:
tiempos_traslado[0]

Y para cambiar el valor de la lista en alguna posición usamos el operador de asignación

In [ ]:
tiempos_traslado[0] = 30
tiempos_traslado

Para obtener el elemento en la última posición podemos hacer lo siguiente

In [ ]:
lista_mixta[-1]

Cabe destacar que si usamos números negativos, el conteo de las posiciones empieza de derecha izquierda. Por ejemplo, para obtener el penúltimo elemento haríamos

In [ ]:
lista_mixta[-2]

### Slicing

Para obtener más de un elemento de una lista podemos recurrir al ```slicing```. Un slice lo definimos con dos puntos, "```:```". Y sirve para indicar desde qué posición iniciar y hasta dónde terminar (en un intervalo abierto por la derecha). Por ejemplo, para obtener los elementos desde la segunda posición hasta la cuarta, haríamos

In [ ]:
sucesion[1:4]

Algunos ejemplos más de slicing. Si no se especifica un valor, quiere decir que tome desde el inicio si esta a la izquierda de los dos puntos, o hasta el final para

In [ ]:
sucesion[3:]

In [ ]:
sucesion[-2:]

In [ ]:
sucesion[:-3]

In [ ]:
sucesion[:]

Podemos saltarnos algunos elementos en el conteo agregando otros dos puntos al final del slice e indicando el tamaño del salto

In [ ]:
# Todos los pares considerando al cero
sucesion[::2]

In [ ]:
# Lista invertida
sucesion[::-1]

In [ ]:
# Del segundo elemento al penúltimo de dos en dos
sucesion[1:-2:2]

In [ ]:
# Ahora de tres en tres de derecha a izquierda
sucesion[::-3]

### Encontrar indices de los objetos

Se puede usar ```list.index()``` para encontrar el indice de algún elemento en la lista.

In [ ]:
print(lista_mixta)
lista_mixta.index('Avión')

['Juan', 23, 54, 23, False, 'Avión']

5

### Operaciones

Se pueden **concaternar** listas

In [ ]:
a = [1, 2, 3]
b = [4, 5, 6]

a + b

[1, 2, 3, 4, 5, 6]

**Agregar elementos** a lista existente

In [ ]:
a.append(40)
a

[1, 2, 3, 40]

**Eliminar elementos**

In [ ]:
# Elimina el elemento en el indice 2 de la lista
a.pop(2)
print(a)

[1, 2, 40]

Ordenar de menor a mayor

In [ ]:
lista = [4,2,5,7,3,8]
lista.sort()
lista

[2, 3, 4, 5, 7, 8]

In [44]:
lista = ['a', 'c', 'b', 3, 2, 7]
lista.sort()
lista

TypeError: ignored

Ordenar de mayor a menor

In [ ]:
lista = [4,2,5,7,3,8]
lista.sort(reverse = True)
lista

[8, 7, 5, 4, 3, 2]

### Texto como lista de carácteres

Una cadena de texto se puede ver como una lista de caracteres. Es decir, podemos ocupar las mismas operaciones que para la listas

In [ ]:
print(texto)
texto[2]

Esta, cadena, la, separaré, por, comas

't'

In [46]:
print(texto[:10])
len(texto[:10])

Esta varia

10

In [ ]:
texto[-3:]

'mas'

In [47]:
texto[::2]

'Et aiben'

### Conjuntos
Un conjunto es como una lista, pero sólo tiene elementos únicos

In [ ]:
{1, 2, 2, 3, 4}

{1, 2, 3, 4}

In [48]:
set(['a', 'b', 't', 'c', 't'])

{'a', 'b', 'c', 't'}

Se puede obtener una lista con elementos únicos si se transforma a un conjunto y luego se regresa a una lista.

In [ ]:
lista = [1, 2, 3, 3, 3, 3]
lista

[1, 2, 3, 3, 3, 3]

In [ ]:
lista = list(set(lista))
lista

[1, 2, 3]

## Diccionarios

Un diccionario es un conjunto de pares de la forma ```key: value```. En la que key es una cadena y value puede ser cualquier tipo de dato. Es muy parecido a un ```json```.

In [50]:
datos = {
    "nombre": "Joe Doe", 
    "carrera": 'Veterinaria', 
    "sueldo": 30000, 
    "es_casado": False, 
    "hijos": [
              {"nombre": "Jonh Doe", "edad": 5}, 
              {"nombre": "Jenny Doe", "edad": 3}
              ]
}


datos

{'carrera': 'Veterinaria',
 'es_casado': False,
 'hijos': [{'edad': 5, 'nombre': 'Jonh Doe'},
  {'edad': 3, 'nombre': 'Jenny Doe'}],
 'nombre': 'Joe Doe',
 'sueldo': 30000}

In [51]:
datos['es_casado']

False

In [52]:
datos['hijos']

[{'edad': 5, 'nombre': 'Jonh Doe'}, {'edad': 3, 'nombre': 'Jenny Doe'}]

In [53]:
# ¿Cuántos hijos tiene?
print(type(datos['hijos']))
len(datos['hijos'])

<class 'list'>

2

Se pueden ver todas las llaves que tiene el diccionario usando ```keys()```

In [54]:
datos.keys()

dict_keys(['nombre', 'carrera', 'sueldo', 'es_casado', 'hijos'])

In [55]:
datos.values()

dict_values(['Joe Doe', 'Veterinaria', 30000, False, [{'nombre': 'Jonh Doe', 'edad': 5}, {'nombre': 'Jenny Doe', 'edad': 3}]])

In [ ]:
# mi_lista = [1, 
#             2, 
#             3, 
#             4, 
#             5, 
#             6, 
#             3, 34, 
#             456, 57,6, 67,8, 786, 9789,0, 89,
#             0]
# mi_lista

In [56]:
contactos = [
             {
                 "nombre": "A", 
                "telefono": 2121
             }, {
                 "nombre": "B", 
                 "email": 'email@asdf.c'
             }
]

In [57]:
len(contactos)

2

In [58]:
contactos[0]

{'nombre': 'A', 'telefono': 2121}

In [59]:
contactos[0]['nombre']

'A'

In [60]:
datos['hijos']

[{'edad': 5, 'nombre': 'Jonh Doe'}, {'edad': 3, 'nombre': 'Jenny Doe'}]

In [61]:
datos['hijos'][0]

{'edad': 5, 'nombre': 'Jonh Doe'}

In [62]:
datos['hijos'][0]['edad']

5

In [63]:
datos.keys()

dict_keys(['nombre', 'carrera', 'sueldo', 'es_casado', 'hijos'])

In [64]:
# datos['no_existo']

KeyError: ignored

In [66]:
aux_key = 'nombre'
if aux_key in datos.keys():
    print(datos[aux_key])

Joe Doe

## Booleanos
Los booleanos sólo pueden tener dos valores: ```True``` y ```False```. Sirven para comparar valores. ```True``` es igual a ```1``` y ```False``` a ```0```.

In [73]:
mi_primer_booleano = False
mi_primer_booleano

False

In [74]:
# Revisar si valores son iguales
3 == 4

False

In [75]:
cadena = 'El cazo'
cadena == 'sarten'

False

In [76]:
cadena == 'El cazo'

True

In [77]:
cadena == 'el cazo'

False

In [ ]:
var = False
var == 0

True

In [ ]:
# Revisar si dos elementos son distintos

In [ ]:
3 != 4

True

In [ ]:
print(cadena == 3)
cadena != 3

False

True

In [ ]:
# Un número es mayor a otros
n = 3
n > 3

False

In [ ]:
# Mayor o igual
n >= 3

True

In [ ]:
# Menor y menor o igual
print(n < 0)
n <= 3

False

True

Para comparar cadenas, se transofrma (automáticamente) el caracter a su valor ascii.

In [78]:
'a' < 'b'

True

In [83]:
'a' < 'C'

False

In [84]:
# Revisar si un elemento está en una lista
sucesion = list(range(10))
print(sucesion)
3 in sucesion

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

True

In [85]:
10 in sucesion

False

In [89]:
type(10) is int

True

In [90]:
type('asdfas') is int

False

In [91]:
type('asdfas') is str

True

El operador ```not``` cambia el valor del booleano

In [ ]:
not False

True

In [ ]:
not True

False

In [ ]:
# Revisa si un elemento no está en la lista
10 not in sucesion

True

Para hacer múltiples comparaciones se pueden usar las palabras reservadas ```and```, ```or```. ```and``` regresa ```True``` si todas las condiciones se cumplen. ```or``` regresa ```True``` si al menos una se cumple.

In [ ]:
x = 10

x > 15 and x < 5

False

In [87]:
x = 20

x > 15 or x < 5

True

In [ ]:
y = 10
texto = 'Texto muuuuuuuuuuuy largo'

y < 100 and len(texto) > 5

True

In [94]:
x = 4
y = 'texto'
z = [3, 4, 4, 6, 5]

(x < 5 or type(y) is int) and len(z) > 3

True

# Estructuras de control

## Condicional: if, elif y else

Sirven para ejecutar código si se cumple una o varias condiciones.

In [98]:
n = 3
if type(n) is int:
    print('n es un entero')
    print('Esta otra linea')
    print('Una más')
else:
    print('n no es entero')

n es un entero
Esta otra linea

In [100]:
n = 126
if n == 7:
    print("n es 7")
elif n > 90:
    print('n es mayor a 90')
elif n < 2:
    print("n es menor a 2")
else:
    print('ninguna de las condiciones anteriores se cumplió')

n es mayor a 90

In [103]:
n = 4
if n % 2 == 0:
    print('n es par')
else:
    print('n es impar')

n es par

Es posible usar el condicional en una sóla linea de código con el llamado ```operador ternario```.

In [106]:
condicion = False
var = 'La condicion fue verdadera' if condicion else "La condicion fue falsa"
var

'La condicion fue falsa'

In [109]:
condicion = False

var = "La condicion fue falsa"
if condicion:
    var = 'La condicion fue verdadera'

var

'La condicion fue falsa'

## Ciclos

Los ciclos nos ayudan a hacer operaciones con variables ```iterables``` como las lista, los conjuntos, diccionarios, cadenas, etc.

### While

El while se ejecuta hasta que se cumple una condición.

Es importante notar que el ciclo **puede ejecutarse infinitamente** si la condición nunca se cumple.

In [110]:
i = 0
while i < 10:
    i += 1
    print(i)

IndentationError: ignored

In [ ]:
# Obtiene los enteros del 1 al n, hasta que su suma sea mayor a 100
enteros = []
i = 1
suma = 0
while suma <= 100:
    enteros.append(i)
    suma += i
    i+=1

print(enteros)
print(suma)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14]
105

In [114]:
a = (2, 5)
a

(2, 5)

In [116]:
b = a[0]
c = a[1]
print(b)

2

In [118]:
b, c  = (2, 5)
b

2

In [119]:
b, _  = (2, 5)
b

2

In [ ]:
# Secuencia de fibonacci
a, b = 0, 1          

secuencia = []

while a < 1000:     
  secuencia.append(a)
  a, b = b, a + b

secuencia

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144, 233, 377, 610, 987]

### For

Ejecuta el ciclo para cada elemento en un iterable

In [ ]:
for i in range(10):
    print(i + 2)

2
3
4
5
6
7
8
9
10
11

In [ ]:
texto = 'Esta es una cadena'

for i in texto:
    print(i)

E
s
t
a

e
s

u
n
a

c
a
d
e
n
a

In [ ]:
lista = [10, 4, 6, 2, 'teclado', True]
for el in lista:
    print(el)

10
4
6
2
teclado
True

In [ ]:
for palabra in texto.split(' '):
    print(palabra)

Esta
es
una
cadena

### List Comprehension

List comprehension sirve para crear una nueva lista al pasar por los elementos de un iterable en una linea de código. Suele ser más rápido que el ```for```.

In [121]:
print(lista)

# crea sólo una copia de la lista
nueva_lista = [x for x in lista]
nueva_lista

['a', 'b', 'c', 3, 2, 7]

['a', 'b', 'c', 3, 2, 7]

In [122]:
# Crea una nueva lista con todos los elementos que son enteros
nueva_lista = [x for x in lista if type(x) is int]
nueva_lista

[3, 2, 7]

In [123]:
nueva_lista = [x if x > 4 else 0 for x in lista if type(x) == int]
nueva_lista

[0, 0, 7]

In [ ]:
5.5 % 1

0.5

In [ ]:
promedios = [5.9, 6.7, 8.9, 10, 3, 0]
[math.ceil(calificacion) if calificacion > 6 and calificacion % 1 > .3 else math.floor(calificacion) for calificacion in promedios]

[5, 7, 9, 10, 3, 0]

In [ ]:
# El código anterior equivale a lo siguiente
nuevos_promedios = []
for x in promedios:
    if x > 6 and x % 1 > .3:
        nuevos_promedios.append(math.ceil(x))
    else:
        nuevos_promedios.append(math.floor(x))
nuevos_promedios

[5, 7, 9, 10, 3, 0]

### Control de ciclos

Se puede terminar la ejecución de un ciclo con la palabra reservada ```break``` u omitir la iteración actual con ```continue```.

In [ ]:
j = 1
while True:
    j *= 10
    print(j)
    if j > 100:
        break

10
100
1000

In [124]:
for j in range(10):
    if 4 < j < 7:
        print(f'omitiendo')
        continue
    print(j)

0
1
2
3
4
omitiendo
omitiendo
7
8
9

# Ejercicios

## 1. Crear un condicional que imprima si un número es par o impar

Definir una variable con un número antes del if

**Pista**: un número es par si módulo 2 es igual a cero

In [ ]:
print(3 % 2)
4 % 2

1

0

## 2. Crear un ciclo que imprima todos los números de 1 a n

definir n variable y ocuparla para el ciclo

## 3. Crear un ciclo que imprima todos los números pares del uno al n

## 4. Crear un ciclo que imprima todos los números impares de 5 a n para n > 5

Revisar que n sea mayor a 5 antes de entrar al ciclo, si no lo es, imprimir "n debe ser mayor a 5"

## 5. Con un ciclo, eliminar todos los números negativos de la siguiente lista: 1, 2, -3, 7, 6, -9

1. Creando una nueva lista
2. Eliminandolos de la lista

## 6. Hacer el ejercicio anterior con list comprehension

## 7. Imprimir, linea por linea, el siguiente patrón 3 veces con un ciclo y el operador módulo

a \\
aa \\
aaa \\
aaaa \\
a \\
aa \\
aaa \\
aaaa \\


**Pista**: Ocupar la siguiente propiedad de las cadenas

In [ ]:
"a" * 5

'aaaaa'

## 8. Crear una lista sólo con los elementos mayores a n de la siguiente lista.

1, 34, 2, 4, 6, 8, 5, 7, 345, 23

Con n una variable

```python
n = 23

<bloque del codigo>
```

## 9. Crear un ciclo que imprima todos los múltiplos de m hasta n

E.g. para m = 2 y n = 6 la salida debería ser

2 \\
4 \\
6 \\
8 \\
10 \\
12

## 10. Ejercicios un poco más complicados

- https://www.codechef.com/problems/EID

[1, 2, 4, 56, 6, 5, 4, 56, 6]

la diferencia minima entre dos elementos distintos de la lista


- https://www.codechef.com/problems/CHEGLOVE

```python
listaA = [7, 2, 3] # Mano
listaB = [4, 5, 6] # Guante

len(listaA) == len(listaB) # True

# Si los elementos de a son menores a los elementos de b element-wise, entonces imprimir
print('Queda bien')
# Si no, "voltear el guante" y hacer la misma verificacion
print('Se volteo y todo bien')

# Si aun no queda bien
print('NO le quedo el guante')

```
- https://www.codechef.com/problems/SEGM01

```python
cadena = '000011100111'
# Si todos los 1's forman un bloque
print(True)
# Si no, i.e. hay un cero en medio
print(False)

```

- https://www.codechef.com/problems/HOWMANY

```python
n = 5454

<bloque de código>
>> 4
```

```python
str(n) #5454
```
- https://www.codechef.com/problems/SINS

```python
m = 11
b = 5

m, b
11, 5
6, 5
1, 5
1, 4
1, 3
1, 2
1, 1

# La salida del programa
print(m + b)
```

# Ligas últiles

- [operadores](https://www.w3schools.com/python/python_operators.asp)
- [list comprehension](https://www.w3schools.com/python/python_lists_comprehension.asp)