<a href="https://colab.research.google.com/github/fjme95/python-para-la-ciencia-de-datos/blob/main/Semana%201/LDA_Clasificaci%C3%B3n_de_default.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Objetivo

En este notebook veremos todos los pasos necesarios para aplicar clasificar si una persona entrará en default (no pagará) un préstamo. 

Que un individuo (o empresa, asociación, etc.) entre en **default** quiere decir que falló en pagar su deuda. Predecir a los individuos con mayor probabilidad de entrar en este estado, ayuda a planear estrategias sobre las inversiones que se realizarán (préstamos en este caso).

Para clasificar, usaremos Linear Discriminant Analysis (LDA).

Estos pasos comprenden:

1. Obtención de los datos
2. Limpieza y preparación de los datos
    1. Valores nulos
    2. Tipos de variables
    3. Variables con poca variación
    4. Variables con alta correlación 
    5. Creación de variables dummy
    6. Imputación de datos faltantes
3. Entrenamiento y evaluación del modelo obtenido con LDA.
4. LDA como reductor de la dimensión


El propósito de la limpieza y preparación de los datos, es conseguir un DataFrame (o matriz) que podamos usar en el algoritmo.

# Dependencias

In [1]:
%%capture
!pip install -U plotly

In [2]:
from pprint import pprint

import pandas as pd
import numpy as np

from sklearn.feature_selection import VarianceThreshold
from sklearn.preprocessing import StandardScaler, MinMaxScaler
from sklearn.model_selection import train_test_split
from sklearn.discriminant_analysis import LinearDiscriminantAnalysis
from sklearn.metrics import classification_report, confusion_matrix

import plotly.express as px

In [3]:
sep= "\n-------------------\n"

# Datos

Trabajaremos con datos del Lending Club.

Lending Club es una plataforma de préstamos entre pares (P2P), donde los prestatarios envían sus solicitudes de préstamo y los prestamistas individuales seleccionan las solicitudes que desean financiar. Los prestatarios reciben el monto total del préstamo emitido menos la tarifa inicial, que se paga a la empresa. Los inversores compran notas respaldadas por préstamos personales y pagan a Lending Club una tarifa de servicio.

Los préstamos P2P reducen el costo de los préstamos personales en comparación con el financiamiento tradicional al conectar directamente a los prestatarios e inversores. Sin embargo, siempre existe el riesgo de invertir en un préstamo incobrable. De hecho, la tasa de incumplimiento de los préstamos P2P es mucho más alta que la de los préstamos tradicionales. Por lo tanto, la industria crediticia está muy interesada en brindar a los inversionistas una evaluación integral del riesgo de las solicitudes de préstamo. La empresa comparte datos sobre todas las solicitudes de préstamos realizadas a través de su plataforma.

La descripción de las variables en el dataset se puede descargar [aqui](http://www-2.rotman.utoronto.ca/~hull/mlbook/lendingclub_datadictionary.xlsx).

## Descarga de los datos

In [4]:
!mkdir data
!wget http://www-2.rotman.utoronto.ca/~hull/mlbook/lending_clubFull_Data_Set.xlsx -O data/lending_club.xlsx

--2021-12-10 23:14:44--  http://www-2.rotman.utoronto.ca/~hull/mlbook/lending_clubFull_Data_Set.xlsx
Resolving www-2.rotman.utoronto.ca (www-2.rotman.utoronto.ca)... 128.100.40.235
Connecting to www-2.rotman.utoronto.ca (www-2.rotman.utoronto.ca)|128.100.40.235|:80... connected.
HTTP request sent, awaiting response... 200 OK
Length: 10008453 (9.5M) [application/vnd.openxmlformats-officedocument.spreadsheetml.sheet]
Saving to: ‘data/lending_club.xlsx’

data/lending_club.x 100%[===================>]   9.54M   389KB/s    in 25s

2021-12-10 23:15:10 (385 KB/s) - ‘data/lending_club.xlsx’ saved [10008453/10008453]

## Lectura de los datos

In [5]:
data_raw = pd.read_excel("data/lending_club.xlsx", index_col=0)
data_raw

            id  member_id  ...  settlement_percentage settlement_term
0       263591     545710  ...                    NaN             NaN
1      1613916   69664096  ...                    NaN             NaN
2       818934    8965180  ...                    NaN             NaN
3      1606612   70572960  ...                    NaN             NaN
4      1639932   68589517  ...                    NaN             NaN
...        ...        ...  ...                    ...             ...
24995   901888    4974773  ...                    NaN             NaN
24996   945413    1279809  ...                    NaN             NaN
24997   366944   63496281  ...                    NaN             NaN
24998  1043529   98124387  ...                    NaN             NaN
24999  1239942  115704642  ...                    NaN             NaN

[25000 rows x 134 columns]

## Datos Faltantes

In [6]:
na_values = (data_raw.isna().sum().sort_values() / len(data_raw)).reset_index(name = 'n')
na_values

                                          index        n
0                                            id  0.00000
1                                     member_id  0.00000
2                           initial_list_status  0.00004
3                           last_fico_range_low  0.00004
4                                     revol_bal  0.00004
..                                          ...      ...
129                             hardship_status  0.99616
130                             hardship_reason  0.99616
131                               hardship_type  0.99616
132                               deferral_term  0.99616
133  orig_projected_additional_accrued_interest  0.99680

[134 rows x 2 columns]

In [7]:
px.bar(na_values, "index", "n")

In [8]:
data_filt = data_raw.loc[:, data_raw.columns[na_values.n < .1]]
data_filt

            id  member_id  ...  mths_since_recent_bc mths_since_recent_bc_dlq
0       263591     545710  ...                   NaN                      NaN
1      1613916   69664096  ...                  40.0                      7.0
2       818934    8965180  ...                  23.0                      NaN
3      1606612   70572960  ...                   3.0                      8.0
4      1639932   68589517  ...                  14.0                      NaN
...        ...        ...  ...                   ...                      ...
24995   901888    4974773  ...                  33.0                      NaN
24996   945413    1279809  ...                  14.0                      NaN
24997   366944   63496281  ...                  51.0                      NaN
24998  1043529   98124387  ...                   8.0                      NaN
24999  1239942  115704642  ...                   4.0                     71.0

[25000 rows x 76 columns]

In [9]:
print("Datos originales\n")
print(data_raw.dtypes.value_counts())
print(sep)
print("Datos filtrado\n")
data_filt.dtypes.value_counts()

Datos originales

float64           100
object             24
datetime64[ns]      9
int64               1
dtype: int64

-------------------

Datos filtrado

float64           54
object            18
datetime64[ns]     3
int64              1
dtype: int64

## División del dataset en entrenamiento y pruebas

In [10]:
data_filt.loan_status.value_counts(dropna = False)

Current                                                12063
Fully Paid                                              9733
Charged Off                                             2557
Late (31-120 days)                                       336
In Grace Period                                          174
Late (16-30 days)                                        101
Does not meet the credit policy. Status:Fully Paid        28
Does not meet the credit policy. Status:Charged Off        5
Default                                                    2
NaN                                                        1
Name: loan_status, dtype: int64

In [12]:
loan_status_to_objective = {
    "Current": 0, 
    "Fully Paid": 0, 
    "Charged Off": 1, 
    "Late (31-120 days)": 0, 
    "In Grace Period": 0, 
    "Late (16-30 days)": 0,  
    "Default": 1, 
}

X = data_filt.drop('loan_status', 1)
y = data_filt.loan_status.map(loan_status_to_objective)

X = X[~y.isna()]
y = y[~y.isna()]
print(X.shape, y.shape)
y.dtype

(24966, 75) (24966,)

dtype('float64')

In [46]:
X_train, X_test, y_train, y_test = train_test_split(X, y, train_size = .7, random_state = 10)

# Análisis de las variables por tipo

In [47]:
X_train.dtypes.unique()

array([dtype('int64'), dtype('O'), dtype('float64'), dtype('<M8[ns]')],
      dtype=object)

In [48]:
columns_by_type = {
    'datetime[ns]': X_train.select_dtypes('<M8[ns]').columns,
    'float64':      X_train.select_dtypes('float64').columns,
    'int64':        X_train.select_dtypes('int64').columns,
    'object':       X_train.select_dtypes('object').columns
}
pprint(columns_by_type)

{'datetime[ns]': Index(['earliest_cr_line', 'next_pymnt_d', 'last_credit_pull_d'], dtype='object'),
 'float64': Index(['loan_amnt', 'int_rate', 'installment', 'annual_inc', 'dti',
       'delinq_2yrs', 'fico_range_low', 'fico_range_high', 'inq_last_6mths',
       'mths_since_last_delinq', 'mths_since_last_record', 'open_acc',
       'pub_rec', 'revol_bal', 'revol_util', 'total_acc',
       'last_fico_range_high', 'last_fico_range_low',
       'collections_12_mths_ex_med', 'mths_since_last_major_derog',
       'policy_code', 'annual_inc_joint', 'dti_joint', 'acc_now_delinq',
       'tot_coll_amt', 'tot_cur_bal', 'open_acc_6m', 'open_act_il',
       'open_il_12m', 'open_il_24m', 'mths_since_rcnt_il', 'total_bal_il',
       'il_util', 'open_rv_12m', 'open_rv_24m', 'max_bal_bc', 'all_util',
       'total_rev_hi_lim', 'inq_fi', 'total_cu_tl', 'inq_last_12m',
       'acc_open_past_24mths', 'avg_cur_bal', 'bc_open_to_buy', 'bc_util',
       'chargeoff_within_12_mths', 'delinq_amnt', 'mo_sin_old_il_acct',
       'mo_sin_old_rev_tl_op', 'mo_sin_rcnt_rev_tl_op', 'mo_sin_rcnt_tl',
       'mort_acc', 'mths_since_recent_bc', 'mths_since_recent_bc_dlq'],
      dtype='object'),
 'int64': Index(['id'], dtype='object'),
 'object': Index(['member_id', 'term', 'grade', 'sub_grade', 'emp_title', 'emp_length',
       'home_ownership', 'verification_status', 'pymnt_plan', 'desc',
       'purpose', 'title', 'zip_code', 'addr_state', 'initial_list_status',
       'application_type', 'verification_status_joint'],
      dtype='object')}

## Variables Numéricas

### Variables con poca variación

In [49]:
var_filter = VarianceThreshold(threshold=.90)
var_filter.fit(X_train[columns_by_type['float64']])
constant_columns = [column for column in X_train[columns_by_type['float64']].columns
                    if column not in X_train[columns_by_type['float64']].columns[var_filter.get_support()]]
constant_columns

['delinq_2yrs',
 'inq_last_6mths',
 'pub_rec',
 'collections_12_mths_ex_med',
 'policy_code',
 'acc_now_delinq',
 'open_il_12m',
 'chargeoff_within_12_mths']

In [50]:
X_train.drop(columns=constant_columns, inplace=True)
X_test.drop(columns=constant_columns, inplace=True)

columns_by_type['float64'] = columns_by_type['float64'].drop(constant_columns)

In [51]:
scaler = StandardScaler()
data_num_sc = pd.DataFrame(scaler.fit_transform(X_train[columns_by_type['float64']]), columns = X_train[columns_by_type['float64']].columns, index = X_train[columns_by_type['float64']].index)
data_num_sc

       loan_amnt  int_rate  ...  mths_since_recent_bc  mths_since_recent_bc_dlq
23795  -0.762127 -1.209813  ...              0.097260                       NaN
24969   0.881156 -0.355975  ...             -0.701575                       NaN
3602   -0.762127  0.079398  ...             -0.486504                 -1.537983
10955  -0.762127 -0.366542  ...              0.711749                       NaN
13729   0.150808 -1.230947  ...              0.527402                 -1.142903
...          ...       ...  ...                   ...                       ...
9377    1.343330 -1.315486  ...             -0.240709                       NaN
7296    1.291977 -0.258755  ...              0.005087                       NaN
17750  -0.990361 -0.854751  ...             -0.455780                  0.393520
7298    0.150808 -1.188678  ...             -0.302158                       NaN
17695  -0.533893 -1.125274  ...              0.281607                       NaN

[17476 rows x 46 columns]

### Variables con alta correlación

La **correlación** es una médida estadística que muestra la relación, ya sea causal o no, entre dos variables. La médida más usada es el **Coeficiente de Correlación de Pearson**. Para dos variables $X = (x_1, x_2, \dots, x_n)$ y $Y = (y_1, y_2, \dots, y_n)$,

$$\rho_{X, Y} = corr(X, Y) = \frac{cov(X, Y)}{\sigma_{X}\sigma_{Y}}$$ 

en donde $\sigma_{X}$ es la desviación estándar de $X$ y $$cov(X, Y) = \frac{1}{n-1}\sum_{i=1}^{n}(x_i - \mu_x)(y_i-\mu_y)$$
con $\mu_x$ la media de $X$.

https://www.maximaformacion.es/blog-dat/que-es-la-correlacion-estadistica-y-como-interpretarla/

![Que-es-la-correlacion_valores-del-coeficiente.png]()

In [52]:
numeric_to_remove = []

In [53]:
# corr_df = X_train[columns_by_type['float64']].corr() # NOTA: Obtenemos la misma matriz de correlación con los datos sin escalar
corr_df = data_num_sc.corr()
px.imshow(corr_df, 
          labels=dict(color="Correlación"),
          x=corr_df.index, 
          y=corr_df.columns, 
          range_color=[-1, 1], 
          color_continuous_scale="oxy"
          )

In [54]:
correlated_features = set()
for i in range(len(corr_df.columns)):
    for j in range(i):
        if abs(corr_df.iloc[i, j]) > 0.7:
            colname = corr_df.columns[i]
            correlated_features.add(colname)
len(correlated_features)

11

In [55]:
correlated_features

{'acc_open_past_24mths',
 'annual_inc_joint',
 'avg_cur_bal',
 'bc_util',
 'fico_range_high',
 'installment',
 'last_fico_range_low',
 'mths_since_recent_bc_dlq',
 'open_rv_24m',
 'total_acc',
 'total_rev_hi_lim'}

In [56]:
X_train.drop(columns=correlated_features, inplace=True)
X_test.drop(columns=correlated_features, inplace=True)

data_num_sc.drop(columns=correlated_features, inplace=True)
columns_by_type['float64'] = columns_by_type['float64'].drop(correlated_features)


## Fechas

Las fechas no las ocuparemos a menos en este análisis. Aunque cabe destacar que podrían ocupar si se transforman a otro tipo de dato (e.g. crear "número de días desde..." y obtener la nueva variable usando una diferencia en días entre fechas).

In [57]:
for col in columns_by_type["datetime[ns]"]:
    print(data_filt[col].head(), sep)

0   1995-11-01
1   2003-10-01
2   1999-10-01
3   1983-11-01
4   2000-04-01
Name: earliest_cr_line, dtype: datetime64[ns]
-------------------

0          NaT
1   2018-01-01
2          NaT
3          NaT
4   2018-01-01
Name: next_pymnt_d, dtype: datetime64[ns]
-------------------

0   2016-10-01
1   2017-12-01
2   2017-03-01
3   2017-12-01
4   2017-12-01
Name: last_credit_pull_d, dtype: datetime64[ns]
-------------------

In [58]:
X_train.drop(columns=columns_by_type["datetime[ns]"], inplace=True)
X_test.drop(columns=columns_by_type["datetime[ns]"], inplace=True)

## Factores

Para poder usar factores en el modelo, es mecesario convertirlas a variables dummies. Esto es, considerando la siguiente variable:

estado_civil|
------------|
soltero
casado
soltero
soltero
viudo

Al obtener las variables dummies de esta obtendriamos:

estado_civil_soltero|estado_civil_casado|estado_civil_viudo
---|---|---
1|0|0
0|1|0
1|0|0
1|0|0
0|0|1

Incluso se puede quitar uno de los niveles y dejarlo como el estado base:

estado_civil_casado|estado_civil_viudo
---|---
0|0
1|0
0|0
0|0
0|1


Si nuestra variable tiene muchos niveles, el crear variables dummies de esta puede hacer que nuestro dataset crezca en dimensión, complicando el entrenamiento del modelo. Para estos casos, se puede buscar la posibilidad de unir distintos niveles en uno sólo o eliminar la variable.

In [59]:
unique_values_by_column = X_train[columns_by_type["object"]].nunique().reset_index(name = "n")
unique_values_by_column

                        index      n
0                   member_id  17476
1                        term      2
2                       grade      7
3                   sub_grade     35
4                   emp_title   9706
5                  emp_length     11
6              home_ownership      6
7         verification_status      3
8                  pymnt_plan      2
9                        desc   1290
10                    purpose     13
11                      title   1190
12                   zip_code    829
13                 addr_state     50
14        initial_list_status      2
15           application_type      2
16  verification_status_joint      3

In [60]:
px.bar(data_frame = unique_values_by_column, 
       x ="index", 
       y = "n", 
       title="Cantidad de niveles por factor", 
       labels={
           "index": "Nombre de la variable",
           "n": "Número de niveles"
           }
       )

Eliminamos las variables con más de 900 niveles.

In [61]:
drop_columns = columns_by_type["object"][unique_values_by_column.n > 900].to_list()
drop_columns

['member_id', 'emp_title', 'desc', 'title']

In [62]:
X_train.drop(columns=drop_columns, inplace=True)
X_test.drop(columns=drop_columns, inplace=True)

columns_by_type['object'] = columns_by_type['object'].drop(drop_columns)

In [63]:
X_train

            id  loan_amnt  ... mort_acc  mths_since_recent_bc
23795  1643719     8000.0  ...      2.0                  28.0
24969   544148    22400.0  ...      0.0                   2.0
3602   1267073     8000.0  ...      1.0                   9.0
10955   281318     8000.0  ...      2.0                  48.0
13729  1551399    16000.0  ...      0.0                  42.0
...        ...        ...  ...      ...                   ...
9377   1419902    26450.0  ...      1.0                  17.0
7296   1548864    26000.0  ...      0.0                  25.0
17750    64679     6000.0  ...      0.0                  10.0
7298   1503632    16000.0  ...      4.0                  15.0
17695   630745    10000.0  ...      0.0                  34.0

[17476 rows x 49 columns]

In [64]:
 X_train = pd.get_dummies(X_train, columns=columns_by_type['object'])
 X_train

            id  ...  verification_status_joint_Verified
23795  1643719  ...                                   0
24969   544148  ...                                   0
3602   1267073  ...                                   0
10955   281318  ...                                   0
13729  1551399  ...                                   0
...        ...  ...                                 ...
9377   1419902  ...                                   0
7296   1548864  ...                                   0
17750    64679  ...                                   0
7298   1503632  ...                                   0
17695   630745  ...                                   0

[17476 rows x 1001 columns]

# Imputación de datos faltantes

Como los modelos matemáticos no trabajan con valores faltantes, es necesario aplicar un tratamiento a estos, ya sea eliminando los casos o imputándolos. Para imputarlos podemos optar por métodos sencillos (media, mediana o moda de la variable) o ir por métodos un poco más elaborados (Multiple Imputation by Chained Equations, KNN, Exact Matrix Completion via Convex Optimization, etc.). 

Lo recomendable es hacer un análisis de los datos faltantes por variable antes de pensar en imputar los datos (ver: [To impute or not to impute?](https://towardsdatascience.com/to-impute-or-not-to-impute-a-practical-example-when-imputation-could-lead-to-wrong-conclusions-fd1e340d779a)).

En este caso, imputamos los valores faltantes en nuestro dataset de la manera más ingenua posible. Ponemos 99 en todos los valores faltantes. En los ejercicios vamos a pensar un poco sobre las implicaciones de esta imputación.

In [65]:
X_train_fact = X_train.fillna(99).drop("id", 1)
X_train_fact

       loan_amnt  ...  verification_status_joint_Verified
23795     8000.0  ...                                   0
24969    22400.0  ...                                   0
3602      8000.0  ...                                   0
10955     8000.0  ...                                   0
13729    16000.0  ...                                   0
...          ...  ...                                 ...
9377     26450.0  ...                                   0
7296     26000.0  ...                                   0
17750     6000.0  ...                                   0
7298     16000.0  ...                                   0
17695    10000.0  ...                                   0

[17476 rows x 1000 columns]

In [66]:
#px.bar(pd.concat([X_train_fact, y_train], 1).corr()['loan_status'])

KeyboardInterrupt: ignored

In [67]:
data_plot = pd.concat([X_train_fact, y_train], 1)
data_plot.loan_status = data_plot.loan_status + np.random.normal(0, .1, len(data_plot))

In [68]:
#px.scatter(data_frame = data_plot, x = 'loan_status', y = 'last_fico_range_high', opacity = .5, title = 'last_fico_range_high vs. loan_status <br><span>Tiene ruido para facilitar la visualización</span>')

# Latent Discriminant Analysis

## Entrenamiento

In [69]:
lda = LinearDiscriminantAnalysis()
lda.fit(X_train_fact, y_train)
train_pred = lda.predict(X_train_fact)
print(classification_report(y_train, train_pred))

              precision    recall  f1-score   support

         0.0       0.97      0.97      0.97     15674
         1.0       0.72      0.74      0.73      1802

    accuracy                           0.94     17476
   macro avg       0.84      0.85      0.85     17476
weighted avg       0.94      0.94      0.94     17476

Imaginemos que nuestro vector de etiquetas se ve así (0, 1, 1, 0, 1), estas son las etiquetas **reales**, y que el vector de **predicciones** se ve así (0, 0, 1, 0, 0).

real: (0, 1, 1, 0, 1) \
pred: (0, 0, 1, 0, 0)


La matriz de confusión para este caso se vería de la siguiente manera

*|1|0|
-|-|-|
**1**|1|2|
**0**|0|2|

*| no me pago (1) | me pago (0)
-----|-|-|
no me pago (1) | 1332 | 470
me pago (0) | 526 | 15148

In [70]:
confusion_matrix(y_train, train_pred)

array([[15148,   526],
       [  470,  1332]])

## Prueba

In [71]:
X_test

            id  loan_amnt  ... mort_acc  mths_since_recent_bc
19603   271063     1500.0  ...      NaN                   NaN
2028    723250    16000.0  ...      0.0                   3.0
6425    935634    24000.0  ...      4.0                  15.0
8868    473804    20000.0  ...      0.0                  15.0
14703   924089    16275.0  ...      1.0                  27.0
...        ...        ...  ...      ...                   ...
16673  1577945    16800.0  ...      0.0                  66.0
3718   1294723    38400.0  ...      0.0                   2.0
13792  1506322    17000.0  ...      0.0                  23.0
8571    371023    28000.0  ...      3.0                  91.0
122     203390    10000.0  ...      1.0                   5.0

[7490 rows x 49 columns]

In [74]:
X_test_prueba = X_test.iloc[[0], :]
X_test_prueba

           id  loan_amnt  ... mort_acc  mths_since_recent_bc
19603  271063     1500.0  ...      NaN                   NaN

[1 rows x 49 columns]

In [39]:
X_test_fact = pd.get_dummies(X_test, columns=columns_by_type['object']).fillna(99)
X_test_fact

                             271063  1500.0   36 months  ...  749.0  Individual  0.0
id                                1       0           0  ...      0           0    0
loan_amnt                         0       1           0  ...      0           0    0
term                              0       0           1  ...      0           0    0
int_rate                          0       0           0  ...      0           0    0
grade                             0       0           0  ...      0           0    0
sub_grade                         0       0           0  ...      0           0    0
emp_length                        0       0           0  ...      0           0    0
home_ownership                    0       0           0  ...      0           0    0
annual_inc                        0       0           0  ...      0           0    0
verification_status               0       0           0  ...      0           0    0
pymnt_plan                        0       0           0  ...      0           0    0
purpose                           0       0           0  ...      0           0    0
zip_code                          0       0           0  ...      0           0    0
addr_state                        0       0           0  ...      0           0    0
dti                               0       0           0  ...      0           0    0
earliest_cr_line                  0       0           0  ...      0           0    0
fico_range_low                    0       0           0  ...      0           0    0
mths_since_last_delinq            0       0           0  ...      0           0    0
mths_since_last_record            0       0           0  ...      0           0    0
open_acc                          0       0           0  ...      0           0    0
revol_bal                         0       0           0  ...      0           0    0
revol_util                        0       0           0  ...      0           0    0
initial_list_status               0       0           0  ...      0           0    0
next_pymnt_d                      0       0           0  ...      0           0    0
last_credit_pull_d                0       0           0  ...      0           0    0
last_fico_range_high              0       0           0  ...      1           0    0
mths_since_last_major_derog       0       0           0  ...      0           0    0
application_type                  0       0           0  ...      0           1    0
dti_joint                         0       0           0  ...      0           0    0
verification_status_joint         0       0           0  ...      0           0    0
tot_coll_amt                      0       0           0  ...      0           0    0
tot_cur_bal                       0       0           0  ...      0           0    0
open_acc_6m                       0       0           0  ...      0           0    0
open_act_il                       0       0           0  ...      0           0    0
open_il_24m                       0       0           0  ...      0           0    0
mths_since_rcnt_il                0       0           0  ...      0           0    0
total_bal_il                      0       0           0  ...      0           0    0
il_util                           0       0           0  ...      0           0    0
open_rv_12m                       0       0           0  ...      0           0    0
max_bal_bc                        0       0           0  ...      0           0    0
all_util                          0       0           0  ...      0           0    0
inq_fi                            0       0           0  ...      0           0    0
total_cu_tl                       0       0           0  ...      0           0    0
inq_last_12m                      0       0           0  ...      0           0    0
bc_open_to_buy                    0       0           0  ...      0           0    0
delinq_amnt                       0       0           0  ...      0           0    1
mo_sin_old_il_acct                0       0           0  ...      0           0    0
mo_sin_old_rev_tl_op              0       0           0  ...      0           0    0
mo_sin_rcnt_rev_tl_op             0       0           0  ...      0           0    0
mo_sin_rcnt_tl                    0       0           0  ...      0           0    0
mort_acc                          0       0           0  ...      0           0    0
mths_since_recent_bc              0       0           0  ...      0           0    0

[52 rows x 25 columns]

In [ ]:
missing_cols = set( X_train_fact.columns ) - set( X_test_fact.columns )
missing_cols

In [ ]:
for c in missing_cols:
    X_test_fact[c] = 0
X_test_fact = X_test_fact[X_train_fact.columns]
X_test_fact

In [ ]:
test_pred = lda.predict(X_test_fact)
print(classification_report(y_test, test_pred))

In [ ]:
print(classification_report(y_train, train_pred))

Comparación de precisión obtenida en el set de entrenamiento y el set de prueba.

In [ ]:
print(
    lda.score(X_train_fact, y_train), 
    lda.score(X_test_fact, y_test)
)

## ¿Cómo afecta cada variable?

In [ ]:
coef_df = pd.DataFrame(lda.coef_[0], X_train_fact.columns, ["coef_"])
print(lda.intercept_)
coef_df

In [ ]:
px.bar(coef_df.reset_index(), 'coef_', 'index')

In [ ]:
X_test.loan_amnt * 10e-6

In [ ]:
y_train[train_pred == 0]

In [ ]:
np.dot(lda.coef_, X_train_fact.loc[9377, :]) + lda.intercept_

In [ ]:
y_train[train_pred == 1]

In [ ]:
np.dot(lda.coef_, X_train_fact.loc[14719, :]) + lda.intercept_

## LDA para reducir dimensión

In [ ]:
X_proj = lda.transform(X_train_fact)
X_proj.shape

In [ ]:
X_proj

In [ ]:
probs = lda.predict_proba(X_train_fact)

In [ ]:
probs[0]

In [ ]:
tol = 1e-3
for i, p in enumerate(probs):
    if .5-tol < p[0] < .5 + tol:
        print(i, p)

In [ ]:
line = X_proj[4558]
line[0]

In [ ]:
fig = px.scatter()
fig.add_scatter(x = X_proj[y_train == 0, 0], y = np.random.rand(len(X_proj[y_train==0])), mode = "markers", opacity=.5, name = "normal")
fig.add_scatter(x = X_proj[y_train == 1, 0], y = np.random.rand(len(X_proj[y_train==1])), mode = "markers", opacity = .5, name = "default")
fig.add_vline(x = line[0], line_dash = 'dash')

fig.update_layout(
    title="Reducción de la dimensión de LDA",
    xaxis_title="LDA1<br><sup>Pese a que los datos se muestran en dos dimensiones, la proyección sólo fue a una (= n_clases - 1)<br>Se agrego aleatoriedad al eje y para facilitar la visualización</sup>",
    legend_title="Etiqueta",
    font=dict(
        size=18
    )
)

fig.show()

# Ejercicios

## Factores

### Condensar niveles

Condensar niveles de factores usualmente es antecedido por un análisis por variable comparando la relación entre cada nivel, la variable de respuesta (en este caso ```loan_status```) y otras covariables. De este modo, niveles que aparentan tener la misma relación con la variable de respuesta pueden juntarse en uno solo; Algunas veces, mejorando el desempeño del modelo y reduciendo la dimensionalidad (y con esto el tiempo de cómputo en algunos casos).

Sin embargo, si se tiene una gran cantidad de factores como covariables y estos a su vez tienen muchos niveles, puede llegar a ser un trabajo arduo que no compense la mejora obtenida en el desempeño del modelo o la rapidez del entrenamiento.

Para este ejercicio, use su intuición en lugar de hacer estas comparaciones. Tampoco es necesario considerar todos los factores, con una cantidad pequeña (por ejemplo, a lo más 3) es suficiente.

1. Condense los niveles de factores que usted considere pueden pertenecer a uno sólo. Puede comenzar con la variable ```home_ownership```, condensando en un nivel llamado ```not_owned``` a todos los niveles que no son ```OWN```.
2. Entrene LDA con estos cambios y compare los resultados obtenidos. ¿Mejoró el modelo?

## Imputación (opcional)

### Constante

1. ¿Qué problemas tiene imputar un valor constante en todas las variables con datos faltantes? Piense en la escala de las variables
    2. ¿Cómo afecta a la estandarización de las variables?
    3. ¿Qué relación tiene con los outliers?
2. ¿Por qué en este caso no presentó problemas aparentes?

### Media, mediana y moda

1. Cambiar la imputación realizada por la media, mediana y moda (tres ejercicios diferentes, realizando uno esta bien) y comparar los resultados obtenido con los vistos en el notebook.
2. ¿Qué implica llenar los valores valores vacios con este tipo de valores? Tome como ejemplo la variable ```mths_since_last_delinq```, ¿qué asumimos de las personas que no han delinquido?

Nota: Para familiarizarse con pandas, es un buen ejercicio realizarlo utilizando sólo pandas. Pero también puede utilizar [```sklearn.impute.SimpleImputer```](https://scikit-learn.org/stable/modules/generated/sklearn.impute.SimpleImputer.html)

### KNN (más opcional)

1. Realice la imputación de los valores con KNN y compare los resultados obtenidos.
2. ¿Cómo funciona esta imputación y qué implica para los valores perdidos?

Nota: Puede usar la implementación realizada en [```fancyimpute```](https://github.com/iskandr/fancyimpute)

# Ligas interesantes

- [BASIC LITERACY OF STATISTICS — 3](https://medium.com/@yohoshiva1609/basic-literacy-of-statistics-3-bc9f5a69f116)
- [Sobre la estandarización en variables dummies](https://stats.stackexchange.com/questions/463690/multiple-regression-with-mixed-continuous-categorical-variables-dummy-coding-s)

## TODO

- Agregar liga a matriz de confusion y metricas